@model CarFormModel
@{
    ViewBag.Title = "Update Car";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-area="Admin" asp-controller="Customer" asp-action="EditCustomerCar" method="post">
            @if (Model.Vin == null)
            {
                <div class="mb-3">
                    <label asp-for="@Model.PlateNumber" class="form-label-add-edit">Registration plate number</label>
                    <input asp-for="@Model.PlateNumber" class="form-control" aria-required="true" placeholder="Enter Registration Plate Number" />
                    <span asp-validation-for="@Model.PlateNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Mileage" class="form-label-add-edit">Current mileage</label>
                    <input asp-for="@Model.Mileage" class="form-control" placeholder="0-2 000 000" type="number" min="@Model.Mileage" max="@MaxMileage" />
                    <span asp-validation-for="@Model.Mileage" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ImageUrl" class="form-label-add-edit">Enter image URL</label>
                    <input asp-for="@Model.ImageUrl" class="form-control" placeholder="Enter Image Url" />
                    <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Vin" class="form-label-add-edit">Enter VIN</label>
                    <input asp-for="@Model.Vin" class="form-control" placeholder="Enter VIN" />
                    <span asp-validation-for="@Model.Vin" class="text-danger"></span>
                </div>
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="UserId" value="@Model.UserId" />
            }
            else
            {
                <div class="mb-3">
                    <label asp-for="@Model.PlateNumber" class="form-label-add-edit">Registration plate number</label>
                    <input asp-for="@Model.PlateNumber" class="form-control" aria-required="true" placeholder="Enter Registration Plate Number" />
                    <span asp-validation-for="@Model.PlateNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Mileage" class="form-label-add-edit">Current mileage</label>
                    <input asp-for="@Model.Mileage" class="form-control" placeholder="0-2 000 000" type="number" min="@MinMileage" max="@MaxMileage" />
                    <span asp-validation-for="@Model.Mileage" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ImageUrl" class="form-label-add-edit">Enter image URL</label>
                    <input asp-for="@Model.ImageUrl" class="form-control" placeholder="Enter Image Url" />
                    <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
                </div>
                <input type="hidden" name="Id" value="@Model.Id" />
            }

            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Update" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
