@model IEnumerable<CustomerViewModel>

@{
    ViewBag.Title = "All Customers";
}
<hr />

<form asp-area="Admin" asp-controller="Customer" asp-action="SearchCustomer">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">

<div class="container">
    <h1>@ViewBag.Title</h1>

    <a asp-area="Admin" asp-controller="Customer" asp-action="Add" class="btn btn-primary">New Customer</a>
    <hr />
    @if (!Model.Any())
    {
        <div class="alert alert-info" role="alert">
            There are no registered customers!
        </div>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @foreach (var customer in Model)
            {
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Username: @customer.UserName</p>
                            <p class="card-text">Email: @customer.Email</p>
                            <p class="card-text">Phone number: @customer.PhoneNumber</p>


                            <div class="d-grid gap-2">
                                    <a asp-area="Admin" asp-controller="Customer" asp-action="CustomerDetails" asp-route-id="@customer.Id" class="btn btn-primary">Details</a>
                                <a asp-area="Admin" asp-controller="" asp-action="" asp-route-id="" class="btn btn-secondary">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
