@model CustomerFormModel

@{
    ViewBag.Title = "Register New Technician";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-area="Admin" asp-controller="Technician" asp-action="RegisterUser" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Email" class="form-label-add-edit">Technician E-mail</label>
                <input asp-for="@Model.Email" class="form-control" aria-required="true" placeholder="Enter Technician E-mail" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Password" class="form-label-add-edit">Technician Password</label>
                <input asp-for="@Model.Password" class="form-control" aria-required="true" placeholder="Enter Technician Password" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="mb-3">

                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Register" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}