@model AppointmentViewModel
@{
    ViewBag.Title = "Complete Task?";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.Car.Make @Model.Car.Model</h5>
                <p class="card-text">Registration Plate: @Model.Car.PlateNumber</p>
                <p class="card-text">Service Type: @Model.ServiceType</p>
                <p class="card-text">Technician: @Model.TechnicianName</p>
                <p class="card-text">Date And Time: @Model.DateAndTime.ToString(DateValidationFormat)</p>
                <p class="card-text">Status: @Model.Status</p>
            </div>
            <div class="card-footer">
                <form asp-area="Admin" asp-action="AcceptConfirmed" method="post">
                    <input type="hidden" asp-for="@Model.CarId" />
                    <input type="hidden" asp-for="@Model.Car" />
                    <input type="hidden" asp-for="@Model.DateAndTime" />
                    <input type="hidden" asp-for="@Model.ServiceId" />
                    <input type="hidden" asp-for="@Model.Service" />
                    <input type="hidden" asp-for="@Model.UserId" />
                    <input type="hidden" asp-for="@Model.User" />
                    <input type="hidden" asp-for="@Model.TechnicianId" />
                    <input type="hidden" asp-for="@Model.Technician" />
                    <input type="hidden" asp-for="@Model.Id" />

                    <button type="submit" class="btn btn-primary" asp-area="Technician" asp-controller="AppointmentTechnician" asp-action="CompleteConfirmed">Complete Task?</button>
                    <a asp-area="Technician" asp-controller="AppointmentTechnician" asp-action="Tasks" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
