@model IEnumerable<AppointmentViewModel>

@{
    ViewBag.Title = "My Tasks";
}
<hr />

<div class="container">
    <h1>@ViewBag.Title</h1>

    <hr />
    @if (!Model.Any())
    {
        <div class="alert alert-info" role="alert">
            There are no tasks accepted!
        </div>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @foreach (var appointment in Model)
            {
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@appointment.Car.Make @appointment.Car.Model</h5>
                            <p class="card-text">Registration Plate: @appointment.Car.PlateNumber</p>
                            <p class="card-text">Service Type: @appointment.ServiceType</p>
                            <p class="card-text">Technician: @appointment.TechnicianName</p>
                            <p class="card-text">Date And Time: @appointment.DateAndTime.ToString(DateValidationFormat)</p>
                            <p class="card-text">Status: @appointment.Status</p>
                            <div class="mt-4">
                                <a asp-area="Technician" asp-controller="AppointmentTechnician" asp-action="Complete" asp-route-id="@appointment.Id" class="btn btn-primary">Complete Task</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}